* {
  scroll-behavior: smooth;
}

body {
  font-family: '-apple-system', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: white;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: white;
}

.circle-wrapper {
  width: 2.5em;
  height: 2.5em;
  margin-left: 1em;
  position: relative;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  border-radius: 50%;
}

.circle-wrapper img {
  display: inline;
  margin: 0 auto;
  /* margin-left: 25%; */
  height: 100%;
  width: auto;
}

#line {
  width: 20%;
  height: 1px;
  background: white;
  opacity: 0.7;
}

nav {
  margin-top: 1.5em;
}

nav a {
  width: 1em;
  height: 1em;
  display: inline-block;
  padding-right: 1.5em;
}

nav a svg {
  fill: white;
  opacity: 0.7;
  transition: 0.5s all cubic-bezier(0.23, 1, 0.320, 1)
}

nav a svg:hover {
  opacity: 1;
}

.header-wrapper {
  position: fixed;
  margin-top: 8%;
  margin-left: 10%;
}

.built {
  margin-top: 23em;
  font-size: 13px;
  font-weight: 200;
  opacity: 0.6;
}

.container {
  /* position: relative; */
  width: 55%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: 10%;
}

.card {
  display: flex;
  background: white;
  padding: 1em 3em;
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 1px 1px 5px #999;
}

a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

img {
  max-width: 100%;
}

.content {
  padding: 1rem;
}