* {
  scroll-behavior: smooth;
}

body {
  font-family: '-apple-system', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: white;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: white;
}

.circle-wrapper {
  width: 2.5em;
  height: 2.5em;
  margin-left: 1em;
  position: relative;
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  border-radius: 50%;
}

.circle-wrapper img {
  display: inline;
  margin: 0 auto;
  /* margin-left: 25%; */
  height: 100%;
  width: auto;
}

#line {
  width: 20%;
  height: 1px;
  background: white;
  opacity: 0.7;
}

nav {
  margin-top: 1em;
}

nav a {
  width: 1em;
  height: 1em;
  display: inline-block;
  padding-right: 1.5em;
}

nav a svg {
  fill: white;
  opacity: 0.7;
  transition: 0.5s all cubic-bezier(0.23, 1, 0.320, 1)
}

nav a svg:hover {
  opacity: 1;
}

.header-wrapper {
  position: fixed;
  margin-top: 8%;
  margin-left: 10%;
}

#email {
  margin-top: 0.7em;
  line-height: 1.4em;
  font-size: 13px;
  opacity: 0.6;
}

.built {
  margin-top: 23em;
  font-size: 13px;
  font-weight: 200;
  opacity: 0.6;
}

.container {
  /* position: relative; */
  width: 55%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: 10%;
}

.back {
  display: flex;
  align-items: center;
  position: absolute;
  left: 85%;
  top: 2.1em;
  font-size: 15px;
  opacity: 1;
}

.back svg {
  margin-left: 0.5em;
  height: 1em;
  width: 1em;
  transition: 0.5s width ease-out;
  overflow: visible;
}

.back:hover svg {
  width: 1.5em;
}

.card {
  position: relative;
  display: block;
  /* opacity: 0; */
  background: white;
  color: rgb(22, 22, 22);
  padding: 1em 3em;
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 5px;
  animation: fadeIn .5s cubic-bezier(0.23, 1, 0.320, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card:nth-child(1) {
  animation-delay: 0.5;
}

.card:nth-child(2) {
  animation-delay: 3;
}

.card:nth-child(3) {
  animation-delay: 10.5;
}

.card:nth-child(4) {
  animation-delay: 2;
}

.card:hover {
  box-shadow: 1px 1px 5px #999;
}

a {
  text-decoration: none;
}

.card a {
  color: #1565C0;
  z-index: 99;
}

.back span {
  color: rgb(22, 22, 22);
}

img {
  max-width: 100%;
}

.content {
  padding: 1rem;
}

em {
  font-weight: 300;
  font-style: normal;
  position: absolute;
  top: 10%;
  right: 10%;
}

@media only screen and (max-width: 980px) {
  .header-wrapper {
    position: relative;
  }

  .container {
    width: 90%;
    margin: auto;
  }

  .built {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}